<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <%= link_to "Shemil Khadaev", root_path, class: "name" %>
    <nav>
      <%= link_to "Articles", posts_path %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "Contact"%>
     
    </nav>
  </header>


<%= yield %>
  <footer id="main_footer">
    <p class="copyright">&copy;2016 Shemil Khadaev</p>
    <nav>
      <a href="http://vk.com/id203398404" target="_blank"><i class="fa fa-vk"></i></a>
      <a href="https://www.facebook.com/shemil.shemilov" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://github.com/Shemil95" target="_blank"><i class="fa fa-github"></i></a>
    </nav>
  </footer>
</body>
</html>
